* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    background-color: #94A1A8;
    z-index: 200;
    font-size: 20px;
  }

nav {
    position: absolute;
    background-color: rgb(172, 175, 175);
    left: 0;
    right: 0;
    top: 60px;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    display: none;
    }

nav a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

a:hover {
    color: #fefefe;
}

.logo{
    width: 100px;
    height: 50px;
   }

   .logo-container {
   display: flex;
   
   align-items: center;
   
   }

   .menu-icon {
    display: block;
    font-size: 24px;
   }

.nav-icons {
    display: flex;
    align-items: center;
    
    gap: 15px;
    font-size: 20px;
} /* header styling end here */

 
.image-container {
    width: 100vw ;
    overflow: hidden;
    position: relative;
}

.fit-img {
    height: auto;
    width: 100%;
    background-size: cover;
    display: block;

}

.overlay {
    position: absolute; 
    top: 8%;
    left: 5%; 
    background-color: rgb(199, 199, 199); 
    color: black; 
    padding: 20px; 
    margin: 10px;
    border-radius: 10px; 
    text-align: center; 
    opacity: 1;
    line-height: 25px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    max-width: 250px;
    z-index: 50;
}

    .collection {
        border: 2px solid red;
        display: flex;  
        flex-wrap: wrap;  
        justify-content: center; 
       }
    

.n-arrival, .f-women, .f-men {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px;
    text-align: center;
    width: 100%;
    position: relative;
}

.responsive-image {
    width: 100%;
    height: auto;
    
}

.cta-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    background-color: #A0C8DE;
    border: 1px solid black;
    position: absolute;
    bottom: 10px;
    
    
}

.cta-button:hover {
    background-color:  #FFFFFF;
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    padding: 15px;
}

.paragraph1, .paragraph2 {
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-family: crimsom text;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}


@media (min-width: 600px) {
    nav {
        position: static;
        display: flex;
        justify-content: center;
        background-color: transparent;
        padding: 0;
        width: auto;
    }

    nav ul {
        display: flex;
        gap: 20px;
        }

    .menu-icon {
        display: none;
    }    

    nav a {
        display: inline-block;
        padding: 0;
        font-size: 16px;
        color: black;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .logo-container {
        margin-left: 0%;
        padding: 0%;

    }
    nav {
        margin: 0 auto;
    }

    .nav-icons {
        margin-left: auto;
       
    }

    .image-container {
        width: 100vw;
        height: auto;
    }

    .fit-img {
        width: 100%;
        height: auto;
    }

    .overlay{
        padding: 45px;
        font-size: 1.5rem;
        line-height: 32px;
        top: 10%;
        left: 10%;
        max-width: 350px;
    }

    h1, h2 {
        font-weight: 600;
        font-size: 32px;
    }
    
    .cta-button {
        
        height: auto;
        font-size: ;
}





